In [1]:
from arcgis.features import SpatialDataFrame
from arcgis.features._data.geodataset import spatial_join
import pandas as pd
import pysal as ps
import numpy as np

In [3]:
csv_crime = pd.read_csv(r"./data/jersey_city/jcpd-all.csv", 
                        index_col=None, 
                        infer_datetime_format=True)
df = pd.DataFrame(csv_crime['Call Code Description'].str.split(';').tolist(), 
                  columns=['Description', 'TimeElapse', 'InjuryDescription'])
csv_crime['LABELS'] = df['Description']
csv_crime['LABELS'].head(2)

C:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (11,16,18) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

0    GUNSHOTS FIRED HEARD ( NO WITNESS / VICTIM )
1    GUNSHOTS FIRED HEARD ( NO WITNESS / VICTIM )
Name: LABELS, dtype: object

In [4]:
vals = ['INTOXICATED PERSON', 'INTOXICATED DRIVER', 'LIQUOR POSSESSION BY MINOR']
q = csv_crime['LABELS'].isin(vals)
alcohal_df = csv_crime[q].copy()
alcohal_df.reset_index(drop=True, inplace=True)
alcohal_df.head()

,Event Number,District,Time Received,SHIFT,Time Dispatched,Time Arrived,CALLCODE,Call Code Description,Call Type,Priority,UNIT ID,Is Primary,Address,CITY,LATITUDE,LONGITUDE,GEO COUNT,GEO ERROR,Unnamed: 18,LABELS
0,14-185046,W,8/22/14 5:48 PM,3,8/22/14 5:50 PM,8/22/14 6:03 PM,E16.00,INTOXICATED PERSON; TIME ELAPSED NOT APPLICABL...,911,7,W403,1,SIP AVE & BERGEN AVE;,JERSEY CITY,40.730839,-74.064339,1,SX,NaN,INTOXICATED PERSON
1,14-185107,W,8/22/14 7:01 PM,3,8/22/14 7:03 PM,01/01/0001 00:00:00,E16.00,INTOXICATED PERSON; TIME ELAPSED NOT APPLICABL...,PH,7,W403,1,GILES AVE & PAVONIA AVE;,JERSEY CITY,40.734810,-74.072739,1,SX,NaN,INTOXICATED PERSON
2,14-185428,W,8/23/14 2:06 AM,1,8/23/14 2:08 AM,01/01/0001 00:00:00,E16.00,INTOXICATED PERSON; TIME ELAPSED NOT APPLICABL...,PH,7,W201,1,743 GRAND ST;,JERSEY CITY,40.715263,-74.068810,1,S5HPNTSCZA,NaN,INTOXICATED PERSON
3,14-185429,N,8/23/14 2:19 AM,1,8/23/14 2:23 AM,8/23/14 2:34 AM,D17.00,INTOXICATED DRIVER; TIME ELAPSED NOT APPLICABL...,911,2,N501,1,3478 KENNEDY BLVD;,JERSEY CITY,40.750984,-74.053955,1,S5HPNTSC-A,NaN,INTOXICATED DRIVER
4,14-185453,W,8/23/14 3:05 AM,1,8/23/14 3:07 AM,8/23/14 3:20 AM,E16.00,INTOXICATED PERSON; TIME ELAPSED NOT APPLICABL...,PH,7,W201,1,743 GRAND ST;,JERSEY CITY,40.715263,-74.068810,1,S5HPNTSCZA,NaN,INTOXICATED PERSON

In [6]:
from arcgis.geometry import Point
geoms = [Point({'x': x, 'y': y, 'spatialReference' : {'wkid' : 4326}}) \
         for x,y in alcohal_df[['LONGITUDE','LATITUDE']].to_records(index=False)]
offenses_df = SpatialDataFrame(data=alcohal_df, geometry=geoms)
offenses_df.head()

,Event Number,District,Time Received,SHIFT,Time Dispatched,Time Arrived,CALLCODE,Call Code Description,Call Type,Priority,...,Is Primary,Address,CITY,LATITUDE,LONGITUDE,GEO COUNT,GEO ERROR,Unnamed: 18,LABELS,SHAPE
0,14-185046,W,8/22/14 5:48 PM,3,8/22/14 5:50 PM,8/22/14 6:03 PM,E16.00,INTOXICATED PERSON; TIME ELAPSED NOT APPLICABL...,911,7,...,1,SIP AVE & BERGEN AVE;,JERSEY CITY,40.730839,-74.064339,1,SX,NaN,INTOXICATED PERSON,"{'spatialReference': {'wkid': 4326, 'latestWki..."
1,14-185107,W,8/22/14 7:01 PM,3,8/22/14 7:03 PM,01/01/0001 00:00:00,E16.00,INTOXICATED PERSON; TIME ELAPSED NOT APPLICABL...,PH,7,...,1,GILES AVE & PAVONIA AVE;,JERSEY CITY,40.734810,-74.072739,1,SX,NaN,INTOXICATED PERSON,"{'spatialReference': {'wkid': 4326, 'latestWki..."
2,14-185428,W,8/23/14 2:06 AM,1,8/23/14 2:08 AM,01/01/0001 00:00:00,E16.00,INTOXICATED PERSON; TIME ELAPSED NOT APPLICABL...,PH,7,...,1,743 GRAND ST;,JERSEY CITY,40.715263,-74.068810,1,S5HPNTSCZA,NaN,INTOXICATED PERSON,"{'spatialReference': {'wkid': 4326, 'latestWki..."
3,14-185429,N,8/23/14 2:19 AM,1,8/23/14 2:23 AM,8/23/14 2:34 AM,D17.00,INTOXICATED DRIVER; TIME ELAPSED NOT APPLICABL...,911,2,...,1,3478 KENNEDY BLVD;,JERSEY CITY,40.750984,-74.053955,1,S5HPNTSC-A,NaN,INTOXICATED DRIVER,"{'spatialReference': {'wkid': 4326, 'latestWki..."
4,14-185453,W,8/23/14 3:05 AM,1,8/23/14 3:07 AM,8/23/14 3:20 AM,E16.00,INTOXICATED PERSON; TIME ELAPSED NOT APPLICABL...,PH,7,...,1,743 GRAND ST;,JERSEY CITY,40.715263,-74.068810,1,S5HPNTSCZA,NaN,INTOXICATED PERSON,"{'spatialReference': {'wkid': 4326, 'latestWki..."

## Load Other Datasets

- bars_df location of establishments that sale al

In [28]:
bars_df = SpatialDataFrame.from_featureclass('c:\\temp\\scratch.gdb\\jersey_city_bars')
census_df = SpatialDataFrame.from_featureclass(r"./data/jersey_city/JCBlockGroups1984.shp")
demographics_df = pd.read_csv(r"Data/jersey_city/ACS/demographics.csv")
demographics_df.index = demographics_df['GEOID'].astype(str)

,GEOID,Pop,PopDens1k,pMale,pHHPov,VacantHU
GEOID,,,,,,
340170003002,340170003002,1852,4.711672e+11,48.326134,29.020333,5.087719
340170003003,340170003003,2159,6.164943e+11,51.459009,17.146974,8.563900
340170004001,340170004001,1510,2.517408e+11,50.529801,15.855856,11.483254
340170005001,340170005001,2717,6.080107e+11,48.251748,10.066372,4.237288
340170005002,340170005002,1028,5.289905e+11,51.167315,25.000000,7.356948

## Spatially Join Bars and Census Data

- get the counts

In [ ]:
joined = spatial_join(df1=bars_df, df2=census_df)
counts = joined['GEOID'].value_counts().to_frame().reset_index(inplace=False, drop=False)
counts['count'] = counts['GEOID']
del counts['GEOID']
counts['GEOID'] = counts['index']
del counts['index']
merged = census_df.merge(counts, how="outer")

In [13]:
census_df_with_counts = merged
census_df_with_counts['count'].fillna(0, inplace=True)
census_df_with_counts[['GEOID', 'count']].head()

          GEOID  count
0  340170003002    2.0
1  340170003003    2.0
2  340170004001    0.0
3  340170005001    1.0
4  340170005002    0.0

In [14]:
census_df_with_counts['BarPerSqMi'] = census_df_with_counts['count'] / census_df_with_counts.geometry.get_area("GEODESIC", 
                                                                                                               units="SQUAREMILES")

In [17]:
q = census_df_with_counts['BarPerSqMi'] == np.inf
census_df_with_counts.loc[q, 'BarPerSqMi'] = 0
census_df_with_counts[['GEOID', 'count', 'BarPerSqMi']].head()

          GEOID  count  BarPerSqMi
0  340170003002    2.0   54.255353
1  340170003003    2.0   60.894011
2  340170004001    0.0    0.000000
3  340170005001    1.0   23.861732
4  340170005002    0.0    0.000000

In [38]:
census_df_with_counts.index = census_df_with_counts.GEOID.astype(str)
census_df_with_counts

Empty SpatialDataFrame
Columns: [FID, STATEFP, COUNTYFP, TRACTCE, BLKGRPCE, GEOID, NAMELSAD, MTFCC, FUNCSTAT, ALAND, AWATER, INTPTLAT, INTPTLON, BGFIPS10, SHAPE, count, BarPerSqMi, Pop, PopDens1k, pMale, pHHPov, VacantHU]
Index: []

[0 rows x 22 columns]